@import "tailwindcss";

img {
  height: auto;
  transition: 0.3s ease all;
  -webkit-transition: 0.3 ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transtion: 0.3s ease all;
}

body {
  background-color: #09090b;
}

img:hover {
  scale: 102%;
}
